
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');
@import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
  
 }
  @plugin 'daisyui/theme'{
     name: "light";
  default: true;
  --color-primary: #D2B48C;
  --color-secondary: #331A15;
  --color-base-200 : #F4F3F0;
  --color-accent : #1B1A1A70
  }

  .rancho{
   font-family: "Rancho", cursive;
  }
  *{
   font-family: "Raleway", sans-serif;
  }